fastapi==0.120.0
uvicorn==0.38.0
sqlalchemy==2.0.44
alembic==1.17.0
psycopg2-binary==2.9.11
asyncpg==0.30.0
pydantic==2.12.4
pydantic-settings==2.11.0
pydantic-extra-types[phonenumbers]
python-dotenv==1.2.1
python-jose==3.5.0
passlib==1.7.4
bcrypt==5.0.0
python-multipart==0.0.20
httpx==0.28.1
email-validator==2.3.0
uvloop==0.22.1
jiwer==3.0.4
pronouncing==0.2.0
python-levenshtein==0.25.1
azure-cognitiveservices-speech==1.40.0
eng-to-ipa==0.0.2
phonemizer==3.2.1
sentry-sdk==2.42.1